<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Chinese Name Transliterator</title>

		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<script type="text/javascript" src="js/functions.js"></script>
	</head>
	<body>
		<div id="pnlOverlay">
			<p><h1>Please wait.</h1>This may take<br />a minute...</p>
			<p class="hourglass">&#10711;</p>
		</div>
			
		<div id="pnlContainer">
			{{{ body }}}		
		</div>
	</body>
</html>
