<h1>Chinese Name Transliterator</h1>
<label for="txtFullChineseName">Full Chinese Name</label>
<input id="txtFullChineseName" />

<!--LANGUAGES-->

<script src="/js/functions.js"></script>
<script>
    setupNameValidation("txtFullChineseName");
</script>
