body
{
    font-size: 16px;
    font-family: georgia;
}

.container 
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#error
{
    font-size: 0.8em;
    font-weight: bold;
    color: #FF0000;
}